:root {
  --accent: #5b4bff;
  --text-dark: rgba(37, 36, 50, 1);
  --muted: rgba(37, 36, 50, 0.08);
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 158px;
  padding: 0 0 200px 0;
  width: 1440px;
  height: 698px;
  max-width: 100%;
  margin: 0 auto;
  color: var(--text-dark);
}

.nav {
  width: 1140px;
  height: 151px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 30px auto 0;
  position: relative;
}

.logo {
  color: var(--accent);
  font-family: var(--secondary-font);
  font-size: 34px;
  font-weight: 900;
  line-height: 150%;
  text-align: left;
  margin-top: 50px;
}

.signup {
  width: 132px;
  height: 48px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 12px 36px;
  margin-top: 63px;
  font-family: var(--primary-font);
  background: var(--accent);
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

.hero {
  width: 905px;
  height: 237px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  margin: 0 auto;
}

.hero-inner {
  font-family: var(--primary-font);
  height: 152px;
  font-size: 65px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  display: inline-block;
  background: var(--accent);
  color: white;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--primary-font);
  line-height: 150%;
  text-align: center;
}
